In [169]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

https://github.com/Ironhack-data-bcn-oct-2023/project-I-pandas#readme

In [374]:
pd.set_option('display.max_columns', None)
sharks = pd.read_csv("C:/Users/mocid/Ironhack/labs/projects/Project1/attacks.csv",encoding='latin1')
sharks.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
12039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2948,1983.03.22,22-Mar-1983,1983.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Nahoon,Surfing,Ian Johnson,M,NaN,"No injury, board bitten",N,12h30,Blacktip or spinner shark,"G. Cliff, NSB",1983.03.22-IanJohnson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.03.22,1983.03.22,3355.0,NaN,NaN
12083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7794,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [267]:
sharks.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [268]:
sharks.tail(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Getting sum of those good ol informations:

### Table information

In [269]:
sharks.describe

<bound method NDFrame.describe of       Case Number         Date    Year        Type    Country  \
0      2018.06.25  25-Jun-2018  2018.0     Boating        USA
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA
2      2018.06.09  09-Jun-2018  2018.0     Invalid        USA
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA
4      2018.06.04  04-Jun-2018  2018.0    Provoked     MEXICO
...           ...          ...     ...         ...        ...
25718         NaN          NaN     NaN         NaN        NaN
25719         NaN          NaN     NaN         NaN        NaN
25720         NaN          NaN     NaN         NaN        NaN
25721         NaN          NaN     NaN         NaN        NaN
25722          xx          NaN     NaN         NaN        NaN

                  Area                        Location     Activity  \
0           California     Oceanside, San Diego County     Paddling
1              Georgia  St. Simon Island, Glynn County     Standing
2               Hawaii                    Habush, Oahu      Surfing
3      New South Wales              Arrawarra Headland      Surfing
4               Colima                        La Ticla  Free diving
...                ...                             ...          ...
25718              NaN                             NaN          NaN
25719              NaN                             NaN          NaN
25720              NaN                             NaN          NaN
25721              NaN                             NaN          NaN
25722              NaN                             NaN          NaN

                  Name Sex   ...         Species   \
0          Julie Wolfe    F  ...      White shark
1      Adyson McNeely     F  ...              NaN
2          John Denges    M  ...              NaN
3                 male    M  ...        2 m shark
4       Gustavo Ramos     M  ...  Tiger shark, 3m
...                ...  ...  ...              ...
25718              NaN  NaN  ...              NaN
25719              NaN  NaN  ...              NaN
25720              NaN  NaN  ...              NaN
25721              NaN  NaN  ...              NaN
25722              NaN  NaN  ...              NaN

               Investigator or Source                       pdf  \
0                    R. Collier, GSAF      2018.06.25-Wolfe.pdf
1      K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2      K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3                      B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4                           A .Kipper      2018.06.04-Ramos.pdf
...                               ...                       ...
25718                             NaN                       NaN
25719                             NaN                       NaN
25720                             NaN                       NaN
25721                             NaN                       NaN
25722                             NaN                       NaN

                                            href formula  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...
1      http://sharkattackfile.net/spreadsheets/pdf_di...
2      http://sharkattackfile.net/spreadsheets/pdf_di...
3      http://sharkattackfile.net/spreadsheets/pdf_di...
4      http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                  ...
25718                                                NaN
25719                                                NaN
25720                                                NaN
25721                                                NaN
25722                                                NaN

                                                    href Case Number.1  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                  ...           ...
25718                                                NaN           NaN
25719                                                NaN           NaN
25720                                                NaN           NaN
25721                                                NaN           NaN
25722                                                NaN           NaN

      Case Number.2 original order Unnamed: 22 Unnamed: 23
0        2018.06.25         6303.0         NaN         NaN
1        2018.06.18         6302.0         NaN         NaN
2        2018.06.09         6301.0         NaN         NaN
3        2018.06.08         6300.0         NaN         NaN
4        2018.06.04         6299.0         NaN         NaN
...             ...            ...         ...         ...
25718           NaN            NaN         NaN         NaN
25719           NaN            NaN         NaN         NaN
25720           NaN            NaN         NaN         NaN
25721           NaN            NaN         NaN         NaN
25722           NaN            NaN         NaN         NaN

[25723 rows x 24 columns]>

In [270]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

### Cohesiveness of data

In [271]:
sharks.duplicated().sum()

19411

In [272]:
print("WHAT A MESSSSS:")
sharks.value_counts

WHAT A MESSSSS:

<bound method DataFrame.value_counts of       Case Number         Date    Year        Type    Country  \
0      2018.06.25  25-Jun-2018  2018.0     Boating        USA
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA
2      2018.06.09  09-Jun-2018  2018.0     Invalid        USA
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA
4      2018.06.04  04-Jun-2018  2018.0    Provoked     MEXICO
...           ...          ...     ...         ...        ...
25718         NaN          NaN     NaN         NaN        NaN
25719         NaN          NaN     NaN         NaN        NaN
25720         NaN          NaN     NaN         NaN        NaN
25721         NaN          NaN     NaN         NaN        NaN
25722          xx          NaN     NaN         NaN        NaN

                  Area                        Location     Activity  \
0           California     Oceanside, San Diego County     Paddling
1              Georgia  St. Simon Island, Glynn County     Standing
2               Hawaii                    Habush, Oahu      Surfing
3      New South Wales              Arrawarra Headland      Surfing
4               Colima                        La Ticla  Free diving
...                ...                             ...          ...
25718              NaN                             NaN          NaN
25719              NaN                             NaN          NaN
25720              NaN                             NaN          NaN
25721              NaN                             NaN          NaN
25722              NaN                             NaN          NaN

                  Name Sex   ...         Species   \
0          Julie Wolfe    F  ...      White shark
1      Adyson McNeely     F  ...              NaN
2          John Denges    M  ...              NaN
3                 male    M  ...        2 m shark
4       Gustavo Ramos     M  ...  Tiger shark, 3m
...                ...  ...  ...              ...
25718              NaN  NaN  ...              NaN
25719              NaN  NaN  ...              NaN
25720              NaN  NaN  ...              NaN
25721              NaN  NaN  ...              NaN
25722              NaN  NaN  ...              NaN

               Investigator or Source                       pdf  \
0                    R. Collier, GSAF      2018.06.25-Wolfe.pdf
1      K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2      K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3                      B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4                           A .Kipper      2018.06.04-Ramos.pdf
...                               ...                       ...
25718                             NaN                       NaN
25719                             NaN                       NaN
25720                             NaN                       NaN
25721                             NaN                       NaN
25722                             NaN                       NaN

                                            href formula  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...
1      http://sharkattackfile.net/spreadsheets/pdf_di...
2      http://sharkattackfile.net/spreadsheets/pdf_di...
3      http://sharkattackfile.net/spreadsheets/pdf_di...
4      http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                  ...
25718                                                NaN
25719                                                NaN
25720                                                NaN
25721                                                NaN
25722                                                NaN

                                                    href Case Number.1  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                  ...           ...
25718                                                NaN           NaN
25719                                                NaN           NaN
25720                                                NaN           NaN
25721                                                NaN           NaN
25722                                                NaN           NaN

      Case Number.2 original order Unnamed: 22 Unnamed: 23
0        2018.06.25         6303.0         NaN         NaN
1        2018.06.18         6302.0         NaN         NaN
2        2018.06.09         6301.0         NaN         NaN
3        2018.06.08         6300.0         NaN         NaN
4        2018.06.04         6299.0         NaN         NaN
...             ...            ...         ...         ...
25718           NaN            NaN         NaN         NaN
25719           NaN            NaN         NaN         NaN
25720           NaN            NaN         NaN         NaN
25721           NaN            NaN         NaN         NaN
25722           NaN            NaN         NaN         NaN

[25723 rows x 24 columns]>

In [273]:
sharks.isna().sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1299,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
20004,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1197,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

In [274]:
sharks.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

### Information regarding values/variables

In [275]:
sharks.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

#### Quantitative and Categorical variables:

In [276]:
sharks.dtypes
sharks_quant_vars = sharks.select_dtypes(include='float64')
sharks_quant_vars

         Year  original order
0      2018.0          6303.0
1      2018.0          6302.0
2      2018.0          6301.0
3      2018.0          6300.0
4      2018.0          6299.0
...       ...             ...
25718     NaN             NaN
25719     NaN             NaN
25720     NaN             NaN
25721     NaN             NaN
25722     NaN             NaN

[25723 rows x 2 columns]

In [277]:
sharks.dtypes
sharks_cat_vars = sharks.select_dtypes(include='object')
sharks_cat_vars

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,NaN,NaN
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,NaN,NaN
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,NaN,NaN
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,NaN,NaN
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Possible questions:

1 Crossing column Country(Australia) with Age to check the age distribution of Australians attacked by sharks

2 Crossing column Fatal(Y/N) with Time to check when are sharks more prone to kill people

3 Crossing column Type[Provoked] with country to check what countries incite more shark attacks

4 Crossing Injury column and filter by "arm" with Activity to check what activities are more prone to lead to arm injuries by shark attacks

5 Crossing Country [USA], Year [1990-2018] and Sex[F] to check what what year did women have the most shark-related accidents in the USA

#### Columns I'll be using:
1 Country, Age
2 Fatal (Y/N), Time
3 Type, Country
4 Injury, Activity
5 Country, Year, Sex 

Overall, columns to clean: 
##### Country, Age, Fatal(Y/N), Time, Injury, Activity, Year, Sex

## Cleaning "Country"

In [278]:
sharks_q1 = sharks.copy()

In [279]:
sharks_q1["Country"].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [280]:
#first off I'll make everything upper case jsut to be visually easier for me
sharks_q1["Country"] = sharks_q1["Country"].str.upper() #let's get this data uniform in terms of capitalization

In [281]:
sharks_q1["Country"].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, BRITISH OVERSEAS TERRITORY', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'FIJI', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN',
       'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', ' PHILIPPINES',
       'NICARAGUA', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN',
       'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS',
       'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT',
       'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'COAST OF AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'BETWEEN PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

### 2. Listing the incongruences I been finding along tha way. People introducing this data really were baboons.

In [282]:
# A dict with these incongs. I might share this with the class later on in case it's useful for them (if that's ok)
# fun fact I discovered: João da Nova, a Galician navigator 
#serving the Portuguese Empire (LET'S GO PORTUGAL), was the first person to sight Saint Helena. 🤓🤓🤓

countries_correct_names_dict = {
    'ST HELENA, BRITISH OVERSEAS TERRITORY': 'SAINT HELENA',
    'UNITED ARAB EMIRATES (UAE)':'UNITED ARAB EMIRATES',
    'AZORES': 'PORTUGAL',
    'NEVIS':'SAINT KITTS AND NEVIS',
    'DIEGO GARCIA':'BRITISH INDIAN OCEAN TERRITORY',
    'PALESTINIAN TERRITORIES': 'PALESTINE', #let's not get political here, interesting timing to clean this data though
    'GULF OF ADEN' : 'YEMEN',
    'ST. MAARTIN' : 'ST. MARTIN',
    'MEXICO ': 'MEXICO',
    ' TONGA' : 'TONGA',
    'OKINAWA':'JAPAN',
    'EGYPT / ISRAEL' : 'EGYPT',
    'SOUTH CHINA SEA':'CHINA',
    'FEDERATED STATES OF MICRONESIA' : 'MICRONESIA',
    'SUDAN?' : 'SUDAN', #"close to the wind-exposed side of an atollshaped reef off Sudan. " close enough, I'll take it
    'IRAN / IRAQ' : 'IRAN',
    'ITALY / CROATIA' : 'ITALY', #based on the PDF
    'WEST INDIES' : 'USA',
    'INDIAN OCEAN?': 'INDIA', #pdf
    'EQUATORIAL GUINEA / CAMEROON' : 'EQUATORIAL GUINEA',
    'CEYLON (SRI LANKA)' : 'SRI LANKA',
    'COAST OF AFRICA': 'SAINT THOMAS',
    'TASMAN SEA' : 'AUSTRALIA' 
}



#and now I replace these strange countries with the actual one:
sharks_q1['Country'] = sharks_q1['Country'].replace(countries_correct_names_dict)

In [301]:
atlantic_ocean_country_rows = sharks_q1[sharks_q1["Country"]=="ATLANTIC OCEAN"]
atlantic_ocean_country_rows

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [302]:
# For atlantic ocean I had to check the other columns to get the real country,
# couldn't find much. but these two entries could be changed:
sharks_q1.loc[sharks_q1['Location'] == 'East of La Grande Island, North of Panama Canal', 'Country'] = 'PANAMA'
sharks_q1.loc[sharks_q1['Location'] == '360 miles north of Ascension Island', 'Country'] = 'ASCENSION ISLAND'

In [298]:
# dropping the remaining "ATLANTIC OCEAN" in the countries. It's 15 entries and even though it sounds lazy,
# I'll have much more data to clean than to go into each PDF and check for the actual country
sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'ATLANTIC OCEAN'].index, inplace=True)

In [287]:
#checking wth is it with country = "GULF OF ADEN"
gulf_of_aden = sharks_q1[sharks_q1["Country"] == "GULF OF ADEN"]
gulf_of_aden

#(ok, it was yemen based on the PDF)

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [291]:
#checking wth is it with country = "CARIBBEAN SEA"
caribbean_sea = sharks_q1[sharks_q1["Country"] == "CARIBBEAN SEA"]
caribbean_sea

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1973,2001.03.00,Mar-2001,2001.0,Sea Disaster,CARIBBEAN SEA,NaN,Between St. Maarten & Anguilla,Sinking of the 40' Esperanza off St. Maartin w...,Unknown,NaN,...,"Tiger shark, 8'","C. Johansson, GSAF",2001.03.00-Anguilla.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.03.00,2001.03.00,4330.0,NaN,NaN
2511,1993.01.04,04-Jan-1993,1993.0,Boating,CARIBBEAN SEA,NaN,Off Dominican Republic,,"canoe, occupants: Chris Newman & Stewart Newman",M,...,Two 3 m [10'] oceanic whitetip sharks,"A. MacCormick, p.100",1993.01.04-DominicanRepublic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1993.01.04,1993.01.04,3792.0,NaN,NaN
3572,1966.07.02,02-Jul-1966,1966.0,Boat,CARIBBEAN SEA,NaN,Between USA & Cuba,NaN,"rowboat, occupants: refugees fleeing Cuba",NaN,...,NaN,P. Gilbert; SAF Case #1436,1966.07.02-CubanRefugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1966.07.02,1966.07.02,2731.0,NaN,NaN
4026,1960.00.00.h,Early summer 1960,1960.0,Invalid,CARIBBEAN SEA,NaN,"Between Key West, Florida & Guantanamo Bay, Cuba",Aircraft crashed into sea,"male, airline pilot",M,...,Shark involvement prior to death was not confi...,U.S. Naval Aviation Safety Center,1960.00.00.h-aircraft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.00.00.h,1960.00.00.h,2277.0,NaN,NaN
4085,1959.07.03.a & b,03-Jul-1959,1959.0,Sea Disaster,CARIBBEAN SEA,PANAMA,"Off Cristobal, 200 miles northeast of the entr...",Columbian petrol barge Rio Atrato burned and sank,Teresea Britton (on raft) & a man (on floating...,NaN,...,NaN,"Cambridge Daily News, 7/4/1959; V. M. Coppleso...",1959.07.03-Rio-Atranto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.07.03.a & b,1959.07.03.a & b,2218.0,NaN,NaN
4642,1944.09.00,Sep-1944,1944.0,Unprovoked,CARIBBEAN SEA,NaN,NaN,Fell overboard from US Navy PC boat,a sailor,M,...,NaN,"E. Buleman, NMRI",1944.09.00-sailor.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.09.00,1944.09.00,1661.0,NaN,NaN
4737,1941.09.25,25-Sep-1941,1941.0,Unprovoked,CARIBBEAN SEA,NaN,125 nm north of Aruba,SS Ethel Skakel foundered in Central America H...,Scotty,M,...,NaN,Washington Post. 10/2/1941,1941.09.25-Scotty.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.09.25,1941.09.25,1566.0,NaN,NaN
6095,1829.00.00,1829,1829.0,Sea Disaster,CARIBBEAN SEA,NaN,Between St. Bart's and Saba,Wreck of the schooner Driver,Ned & Pawn,M,...,NaN,"The Times, 12/14/1829",1829.00.00-Ned-Pawn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1829.00.00,1829.00.00,208.0,NaN,NaN

In [315]:
# For Caribbean sea I had to check the other columns to get the real country,
# couldn't find much. but these entries could be changed:
sharks_q1.loc[sharks_q1['Location'] == 'Between St. Maarten & Anguilla', 'Country'] = 'ST. MARTIN'
sharks_q1.loc[sharks_q1['Location'] == 'Off Dominican Republic', 'Country'] = 'DOMINICAN REPUBLIC'
sharks_q1.loc[sharks_q1['Location'] == 'Between USA & Cuba', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Location'] == 'Between Key West, Florida & Guantanamo Bay, Cuba', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Location'] == 'Off Cristobal, 200 miles northeast of the entrance to the Panama Canal', 'Country'] = 'PANAMA'
sharks_q1.loc[sharks_q1['Location'] == '125 nm north of Aruba', 'Country'] = 'ARUBA'
sharks_q1.loc[sharks_q1['Location'] == "Between St. Bart's and Saba", 'Country'] = 'ST. BARTHELEMY'

In [306]:
# dropping the remaining "CARIBBEAN SEA" in the countries.
sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'CARIBBEAN SEA'].index, inplace=True)

In [294]:
# dropping the "NORTHERN ARABIAN SEA" in the countries. Reason> mid ocean not relevant fr my analysis
sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'NORTHERN ARABIAN SEA'].index, inplace=True)

In [308]:
#checking wth is it with country = "NORTH ATLANTIC OCEAN"
northatln_ocean = sharks_q1[sharks_q1["Country"] == "NORTH ATLANTIC OCEAN"]
northatln_ocean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3079,1980.00.00.d,Summer 1980,1980.0,Provoked,NORTH ATLANTIC OCEAN,NaN,Onboard swordfish trawler,Gaffing netted shark,Sidney Hallett,M,...,1.8 m [6'] dogfish,"A. Resciniti, pp.105-106",1980.00.00.d-Hallett.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.00.00.d,1980.00.00.d,3224.0,NaN,NaN
4087,1959.07.00.b,Late Jul-1959,1959.0,Boat,NORTH ATLANTIC OCEAN,In the Gulf Stream,Between Bimini & Miami,NaN,"17' boat, occupant: Richard Wade",NaN,...,"Oceanic whitetip shark,1.8 m [6']","J. Randall in Sharks & Survival, p.356",1959.07.00.b-boat-R-Wade.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.07.00.b,1959.07.00.b,2216.0,NaN,NaN
4432,1951.10.05,05-Oct-1951,1951.0,Invalid,NORTH ATLANTIC OCEAN,South Carolina,400 miles off the le,cargo ship Southern Isle sank at 04h00,NaN,NaN,...,Shark involvement prior to death was not confi...,"J. Waters, U.S. Coast Guard; San Mateo Times, ...",1951.10.05-SouthernIsle.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1951.10.05,1951.10.05,1871.0,NaN,NaN
5398,1910.11.28,28-Nov-1910,1910.0,Provoked,NORTH ATLANTIC OCEAN,Georges Bank,NaN,Fishing,Tham Key,M,...,Angel shark,"NY Times, 11/30/1910",1910.11.28-Key.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1910.11.28,1910.11.28,905.0,NaN,NaN

In [317]:
# For NORTH ATLANTIC OCEAN  I had to check the other columns to get the real country,
sharks_q1.loc[sharks_q1['Area'] == 'In the Gulf Stream', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Area'] == 'South Carolina', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Area'] == 'Georges Bank', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Location'] == 'Between Bimini & Miami', 'Country'] = 'USA'

In [318]:
# dropping the "NORTHERN ARABIAN SEA" in the countries. Reason> mid ocean not relevant fr my analysis
sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'NORTH ATLANTIC OCEAN'].index, inplace=True)

In [320]:
#checking wth is it with country = "PACIFIC OCEAN"
pacific_ocean = sharks_q1[sharks_q1["Country"] == "PACIFIC OCEAN"]
pacific_ocean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3962,1960.09.22,22-Sep-1960,1960.0,Sea Disaster,PACIFIC OCEAN,180 miles southeast of Okinawa,NaN,R5D aircraft went down with 29 on board,male,M,...,NaN,US Naval Aviation Safety Center; L. Schultz & ...,1960.09.22-R5Daircraft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.09.22,1960.09.22,2341.0,NaN,NaN
4150,1958.07.04.b,04-Jul-1958,1958.0,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Roy A. Robinson, Sr.",M,...,Sharks averaged 1.8 m [6'] in length,"Evening Star (Washington D.C.), 7/7/1958, p. A...",1958.07.04.b-Robinson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.07.04.b,1958.07.04.b,2153.0,NaN,NaN
4151,1958.07.04.a,04-Jul-1958,1958.0,Sea Disaster,PACIFIC OCEAN,Between Hawaii & Wake Island,600 miles northwest of Honolulu,U.S. Airforce C124 enroute from Hickham Air Ba...,"Captain Jonathan Brown, pilot",M,...,Sharks averaged 1.8 m [6'] in length,"Evening Star (Washington D.C.), 7/7/1958, p. A...",1958.07.04.a-Brown.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.07.04.a,1958.07.04.a,2152.0,NaN,NaN
4187,1957.11.08,08-Nov-1957,1957.0,Sea Disaster,PACIFIC OCEAN,"1,000 miles east of Hawaii",NaN,Air/Sea Disaster Pan-American Airlines Stratoc...,NaN,NaN,...,NaN,"Guam Daily News, November 19, 1957; V.M. Coppl...",1957.11.08-Stratocruiser.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1957.11.08,1957.11.08,2116.0,NaN,NaN
4373,1953.07.11,11-Jul-1953,1953.0,Sea Disaster,PACIFIC OCEAN,330 to 350 miles east of Wake Island,NaN,Royal Hawaiian skymaster DC-6B aircraft went d...,NaN,NaN,...,NaN,"Guam Daily News, 7/16/195; V.M. Coppleson, p.21",1953.07.11-WakeIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1953.07.11,1953.07.11,1930.0,NaN,NaN
4441,1951.07.11,11-Jul-1951,1951.0,Unprovoked,PACIFIC OCEAN,NaN,In Los Angeles  Honolulu yacht race,Fell overboard,"Edward Sierks, skipper",M,...,2.1 m [7'] shark,"Daily Review, 7/13/1951",1951.07.11-Sierks.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1951.07.11,1951.07.11,1862.0,NaN,NaN
4581,1947.04.00,Apr-1947,1947.0,Provoked,PACIFIC OCEAN,NaN,Off Central American coast at 8N.79W,Moving shark from tuna vessel when boat rolled...,Charles Kaufmann,M,...,NaN,C. Kaufmann; S. Springer,1947.04.00-Kaufmann.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1947.04.00,1947.04.00,1722.0,NaN,NaN
4665,1943.11.11,11-Nov-1943,1943.0,Sea Disaster,PACIFIC OCEAN,Near the Fiji Islands,22º08'S : 178º06'W,The 6711-ton American freighter & troop transp...,males,M,...,NaN,"M. McDiarmid, p.67",1943.11.11-CapeSanJuan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1943.11.11,1943.11.11,1638.0,NaN,NaN
4673,1943.05.27,27-May-1943,1943.0,Invalid,PACIFIC OCEAN,NaN,NaN,B-24 crashed during a search mission. Survivor...,Louis Zamperini & Russell Phillips,M,...,Invalid,G.A. Llano,1943.05.27-Zamperini.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1943.05.27,1943.05.27,1630.0,NaN,NaN
4683,1943.01.26,26-Jan-1943,1943.0,Sea Disaster,PACIFIC OCEAN,Northwest of Papua New Guinea,NaN,The USS Wahoo torpedoes & sank the Japanese tr...,Japanese seamen,M,...,NaN,Naval Historical Center,1943.01.26-BuyoMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1943.01.26,1943.01.26,1620.0,NaN,NaN
4699,1942.11.00.b,Nov-1942,1942.0,Provoked,PACIFIC OCEAN,Between Hawaii and U.S.A.,NaN,In rubber dinghy with Captain Eddie Rickenback...,male,M,...,NaN,"V.M. Coppleson (1962), p.257",1942.11.00.b-Rickenbacker-raftmate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.b,1942.11.00.b,1604.0,NaN,NaN
4744,1941.06.00,Jun-1941,1941.0,Sea Disaster,PACIFIC OCEAN,Off coast of Ecuador,Between Esmeraldas & Salinas,"Ditched aircraft, 3 men in the water. Swam for...",Colonel B. & Sub-Lieutenant D.,M,...,NaN,"G.A. Llano in Airmen Against the Sea, pp.67-68...",1941.06.00-Ecuador.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.06.00,1941.06.00,1559.0,NaN,NaN
4793,1939.07.18,18-Jul-1939,1939.0,Sea Disaster,PACIFIC OCEAN,NaN,NaN,Japanese freighter Bokuyo Maru burned & sank,child,NaN,...,NaN,"Syracuse Herald, 7/30/1939",1939.07.18-Child-B-Maru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1939.07.18,1939.07.18,1510.0,NaN,NaN
5683,1892.03.25.R,Reported 25-Mar-1892,1892.0,Unprovoked,PACIFIC OCEAN,NaN,NaN,a canoe was pursuing a schooner that had forc...,NaN,M,...,NaN,"West Australian, 3/25/1892",1892.03.25.R-Canoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1892.03.25.R,1892.03.25.R,620.0,NaN,NaN
5789,1883.00.00.d,1883,1883.0,Unprovoked,PACIFIC OCEAN,NaN,NaN,Fishing,"male, a cook",M,...,14' shark,"Freeborn County Standard, 11/14/1883",1883.00.00.d-cook.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1883.00.00.d,1883.00.00.d,514.0,NaN,NaN
6015,1852.10.23.R,Reported 23-Oct-1852,1852.0,Provoked,PACIFIC OCEAN,Between Australia & USA,NaN,Fishing,William Stannard,M,...,NaN,"Maitland Mercury, 10/23/1852",1852.10.23.R-Stannard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1852.10.23.R,1852.10.23.R,288.0,NaN,NaN
6269,ND.0034,1940-1946,0.0,Sea Disaster,PACIFIC OCEAN,NaN,NaN,NaN,"8 US airmen in the water, 1 was bitten by a shark",M,...,NaN,G. Llano,ND-0034-8-men-on-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0034,ND.0034,34.0,NaN,NaN

In [321]:
# For PACIFIC OCEAN  I had to check the other columns to get the real country,
sharks_q1.loc[sharks_q1['Area'] == '180 miles southeast of Okinawa', 'Country'] = 'JAPAN'
sharks_q1.loc[sharks_q1['Area'] == 'Between Hawaii & Wake Island', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Area'] == '1,000 miles east of Hawaii', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Area'] == '330 to 350 miles east of Wake Island', 'Country'] = 'WAKE ISLAND'
sharks_q1.loc[sharks_q1['Location'] == 'In Los Angeles  Honolulu yacht race', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Location'] == 'Off Central American coast at 8N.79W', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Area'] == 'Near the Fiji Islands', 'Country'] = 'FIJI'
sharks_q1.loc[sharks_q1['Area'] == 'Northwest of Papua New Guinea', 'Country'] = 'PAPUA NEW GUINEA'
sharks_q1.loc[sharks_q1['Area'] == 'Between Hawaii and U.S.A', 'Country'] = 'PAPUA NEW GUINEA'
sharks_q1.loc[sharks_q1['Area'] == 'Off coast of Ecuador', 'Country'] = 'ECUADOR'

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'PACIFIC OCEAN'].index, inplace=True)

# AT THIS POINT I'M REALLY CONSIDERING WHETHER PEOPLE KNOW HOW TO READ COLUMN HEADERS WHEN FILLING OUT A FORM/REPORTING STUFF, AND AM ONLY IN THE BEGINNING :')

In [322]:
#checking wth is it with country = "SOUTH PACIFIC OCEAN"
south_pacific_ocean = sharks_q1[sharks_q1["Country"] == "SOUTH PACIFIC OCEAN"]
south_pacific_ocean

sharks_q1.loc[sharks_q1['Case Number'] == '1965.06.00', 'Country'] = 'PAPUA NEW GUINEA'

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'SOUTH PACIFIC OCEAN'].index, inplace=True)

In [323]:
#checking wth is it with country = "RED SEA"
red_sea = sharks_q1[sharks_q1["Country"] == "RED SEA"]
red_sea

sharks_q1.loc[sharks_q1['Country'] == '1965.06.00', 'Country'] = 'PAPUA NEW GUINEA'

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'RED SEA'].index, inplace=True) #it was in a gulf, adds no value to my analysis

In [324]:
#checking wth is it with country = "NORTH PACIFIC OCEAN"
north_pacific_ocean = sharks_q1[sharks_q1["Country"] == "NORTH PACIFIC OCEAN"]
north_pacific_ocean

sharks_q1.loc[sharks_q1['Area'] == 'Wake Island (EnenKio)', 'Country'] = 'MICRONESIA'
sharks_q1.loc[sharks_q1['Area'] == '1000 miles west of Hawaii', 'Country'] = 'MICRONESIA'
sharks_q1.loc[sharks_q1['Location'] == 'Between Wake & Johnston Islands', 'Country'] = 'MICRONESIA'
sharks_q1.loc[sharks_q1['Area'] == 'Between Kwajalein Atoll & Johnston Island', 'Country'] = 'MICRONESIA'
sharks_q1.loc[sharks_q1['Location'] == 'Wake Island', 'Country'] = 'MICRONESIA'

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'NORTH PACIFIC OCEAN'].index, inplace=True)
north_pacific_ocean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3736,1963.10.15,15-Oct-1963,1963.0,Provoked,NORTH PACIFIC OCEAN,NaN,NaN,Fishing for sharks,"Eichi Nakata, of the the crew of the trawler K...",M,...,NaN,"J.L. Holland; The Honolulu Advertiser, 10/19/1...",1963.10.15-Nakata.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.10.15,1963.10.15,2567.0,NaN,NaN
3916,1961.03.09,09-Mar-1961,1961.0,Unprovoked,NORTH PACIFIC OCEAN,Wake Island (EnenKio),"Leeward side of island, directly in back of Mi...",Free diving,James K. Stewart,M,...,"Grey reef shark, 1.8 m [6'] grey reef shark, i...",J.K. Stewart; Albert Tester; V.M. Coppleson (1...,1961.03.09-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1961.03.09,1961.03.09,2387.0,NaN,NaN
4278,1955.09.23.b,23-Sep-1955,1955.0,Sea Disaster,NORTH PACIFIC OCEAN,1000 miles west of Hawaii,Between Wake & Johnston Islands,"""Flying Tiger"" transport plane went down with ...",R.C. Olsen,M,...,Survivors said 2 species of sharks were involv...,Letter from Captain Raoul G. Rehrer in letter ...,1955.09.23.b-Olsen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.09.23.b,1955.09.23.b,2025.0,NaN,NaN
4279,1955.09.23.a,23-Sep-1955,1955.0,Sea Disaster,NORTH PACIFIC OCEAN,1000 miles west of Hawaii,Between Wake & Johnston Islands,"""Flying Tiger"" transport plane went down with ...",Robert C. Hightower,M,...,Survivors said 2 species of sharks were involv...,Letter from Captain R. G. Rehrer in letter to ...,1955.09.23.a-Hightower.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.09.23.a,1955.09.23.a,2024.0,NaN,NaN
4534,1948.12.05,05-Dec-1948,1948.0,Sea Disaster,NORTH PACIFIC OCEAN,Between Kwajalein Atoll & Johnston Island,500 nautical miles southwest of Johnston Island,Air/Sea Disaster involving C-54 Air Force Tran...,NaN,M,...,NaN,"L. Schultz & M. Malin, p.562; SAF Case #819",1948.12.05-Aircraft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1948.12.05,1948.12.05,1769.0,NaN,NaN
4645,1944.06.23,23-Jun-1944,1944.0,Invalid,NORTH PACIFIC OCEAN,NaN,Aircraft went down on 6/12/1944. He survived o...,NaN,Lt. Cmdr. Price,M,...,Invalid,USS Boyd archive,1944.06.23-Boyd-Rescue-incomplete.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.06.23,1944.06.23,1658.0,NaN,NaN
6257,ND.0047,Before Mar-1956,0.0,Unprovoked,NORTH PACIFIC OCEAN,NaN,Wake Island,"Fishing, wading with string of fish",male,M,...,NaN,"J. Oetzel, Skin Diver Magazine, March 1956, p.19",ND-0047-WakeIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0047,ND.0047,46.0,NaN,NaN

In [325]:
#checking wth is it with country = "MID ATLANTIC OCEAN"
mid_atlantic_ocean = sharks_q1[sharks_q1["Country"] == "MID ATLANTIC OCEAN"]
mid_atlantic_ocean

sharks_q1.loc[sharks_q1['Area'] == '1000 miles west of Hawaii', 'Country'] = 'MICRONESIA'
sharks_q1.loc[sharks_q1['Location'] == 'Off Bermuda', 'Country'] = 'BERMUDA'
sharks_q1.loc[sharks_q1['Area'] == '165 miles from Bermuda', 'Country'] = 'BERMUDA'
sharks_q1.loc[sharks_q1['Area'] == 'Between England & South Africa', 'Country'] = 'ENGLAND'
sharks_q1.loc[sharks_q1['Area'] == 'Bound from New York to London in ballast', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Location'] == 'Venezuelan aircraft lost', 'Country'] = 'USA'


sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'MID ATLANTIC OCEAN'].index, inplace=True)
mid_atlantic_ocean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3783,1962.11.00,Nov-1962,1962.0,Sea Disaster,MID ATLANTIC OCEAN,NaN,Off Bermuda,Abandoning burning ship Captain George in ragi...,"Martin Fisher, radio operator",M,...,NaN,Press clippings,1962.11.00-Fisher.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.11.00,1962.11.00,2520.0,NaN,NaN
3878,1961.09.23,23-Sep-1961,1961.0,Unprovoked,MID ATLANTIC OCEAN,165 miles from Bermuda,NaN,"Survived US Naval aircraft crash, climbing onb...",Patrick Imhof,M,...,"Oceanic whitetip shar,; identified by Dr. W.C....","E.L.de Wilton; V.M. Coppleson (1962), p.246; H...",1961.09.23-Imhof.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1961.09.23,1961.09.23,2425.0,NaN,NaN
4097,1959.05.00,May-1959,1959.0,Unprovoked,MID ATLANTIC OCEAN,Between England & South Africa,NaN,Jumped overboard to rescue a man,Charles Green,M,...,NaN,"Golden City Post (South Africa), 6/7/1959; P. ...",1959.05.00-Green.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.05.00,1959.05.00,2206.0,NaN,NaN
4252,1956.06.20,20-Jun-1956,1956.0,Sea Disaster,MID ATLANTIC OCEAN,NaN,Venezuelan aircraft lost,Air/Sea Disaster,NaN,NaN,...,NaN,"New York Times, 6/21/1956; L. Schultz & M. Mal...",1956.06.20-VenezuelanAircraft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.06.20,1956.06.20,2051.0,NaN,NaN
4540,1948.09.15,15-Sep-1948,1948.0,Sea Disaster,MID ATLANTIC OCEAN,NaN,Bound from New York to London in ballast,Leicester abandoned in a hurricane,2 males,M,...,NaN,"Glasgow Herald, 9/20/1948",1948.09.15-Leicester.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1948.09.15,1948.09.15,1763.0,NaN,NaN

In [326]:
south_atlantic_ocean = sharks_q1[sharks_q1["Country"] == "SOUTH ATLANTIC OCEAN"]
south_atlantic_ocean

sharks_q1.loc[sharks_q1['Area'] == 'Off Libya', 'Country'] = 'LIBYA'
sharks_q1.loc[sharks_q1['Area'] == 'North of Pernambuco, Brazil', 'Country'] = 'BRAZIL'
sharks_q1.loc[sharks_q1['Area'] == 'South of the Equator', 'Country'] = 'ECUADOR'
sharks_q1.loc[sharks_q1['Location'] == 'Off Sierra Leone', 'Country'] = 'SIERRA LEONE'
sharks_q1.loc[sharks_q1['Area'] == 'Off Libya', 'Country'] = 'LIBYA'


sharks.drop(sharks_q1[sharks_q1['Country'] == 'SOUTH ATLANTIC OCEAN'].index, inplace=True)
south_atlantic_ocean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3792,1962.09.13,13-Sep-1962,1962.0,Unprovoked,SOUTH ATLANTIC OCEAN,Off coast of West Africa,Off the passenger liner Stirling Castle,"When a deckhand jumped overboard, McIver div...",John MacIver,M,...,NaN,"Daily Express (London), et. al, 9/22/1962",1962.09.13-MacIver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.09.13,1962.09.13,2511.0,NaN,NaN
4731,1941.12.07,07-Dec-1941,1941.0,Sea Disaster,SOUTH ATLANTIC OCEAN,NaN,NaN,Torpedoed & burning British light cruiser wit...,NaN,NaN,...,"Reportedly: oceanic whitetip sharks, blue shar...","F. Dennis, pp. 19-20; A. Resciniti, p.90",1941.12.07-SouthAtlantic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.12.07,1941.12.07,1572.0,NaN,NaN
4733,1941.11.27.b,27-Nov-1941,1941.0,Sea Disaster,SOUTH ATLANTIC OCEAN,Off Libya,NaN,HMAS Parramatta torpedoed & sunk by the U-559,Bill Nash,M,...,Tiger shark,"Canberra Times, 12/3/1941",1941.11.27.b-Nash.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.11.27.b,1941.11.27.b,1570.0,NaN,NaN
4734,1941.11.27.a,27-Nov-1941,1941.0,Sea Disaster,SOUTH ATLANTIC OCEAN,Off Libya,NaN,HMAS Parramatta torpedoed & sunk by the U-559,Gordon Annison,M,...,Tiger shark,"Canberra Times, 12/3/1941",1941.11.27.a-Annison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.11.27.a,1941.11.27.a,1569.0,NaN,NaN
4735,1941.11.24,25-Nov-1941,1941.0,Sea Disaster,SOUTH ATLANTIC OCEAN,"North of Pernambuco, Brazil",NaN,British cruiser Dunedin torpedoed & sunk by th...,NaN,NaN,...,NaN,GSAF,1941.11.24-Dunedin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.11.24,1941.11.24,1568.0,NaN,NaN
4745,1941.03.24,24-Mar-1941,1941.0,Sea Disaster,SOUTH ATLANTIC OCEAN,NaN,750 miles off the African coast,The troopship Britannia was sunk by the German...,male,M,...,NaN,"NY Times, 4/4/1941 \n",1941.03.24-Britannia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.03.24,1941.03.24,1558.0,NaN,NaN
4749,1941.01.29,29-Jan-1941,1941.0,Unprovoked,SOUTH ATLANTIC OCEAN,In Convoy OB 274,Off Sierra Leone,Rescuing seaman after ship sunk by German raider,David Hay,M,...,NaN,"The London Gazette, 7/8/1941",1941.01.29-Hay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.01.29,1941.01.29,1554.0,NaN,NaN
5151,1926.04.22,22-Apr-1926,1926.0,Unprovoked,SOUTH ATLANTIC OCEAN,South of the Equator,Steamship bound from Cape Town to Philadelphia,Fell overboard from SS Ripley Castle,Thomas (or Tony) Madison,M,...,NaN,"New York Times, 4/28/1926",1926.04.22-Madison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1926.04.22,1926.04.22,1152.0,NaN,NaN
5669,1893.04.15,Reported 15-Apr-1893,1893.0,Unprovoked,SOUTH ATLANTIC OCEAN,NaN,NaN,Swimming after falling overboard from the seal...,Charles Barclay,M,...,NaN,"The News, 4/15/1893",1893.04.15.R-Barclay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1893.04.15,1893.04.15,634.0,NaN,NaN
5841,1878.09.02.b,02-Sep-1878,1878.0,Sea Disaster,SOUTH ATLANTIC OCEAN,Off the coast of West Africa,NaN,Boat with 5 men capsized while returning to th...,Antonio du Val,M,...,NaN,"Brisbane Courier, 11/19/1878",1878.09.02.b-Amerique-boy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.02.b,1878.09.02.b,462.0,NaN,NaN
5842,1878.09.02.a,02-Sep-1878,1878.0,Sea Disaster,SOUTH ATLANTIC OCEAN,Off the coast of West Africa,NaN,Boat with 5 men capsized while returning to th...,NaN,M,...,NaN,"Brisbane Courier, 11/19/1878",1878.09.02.a-Amerique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.02.a,1878.09.02.a,461.0,NaN,NaN
5901,1872.00.00,Circa 1872,1872.0,Sea Disaster,SOUTH ATLANTIC OCEAN,Off the coast of South America,NaN,Adrift on a raft,an Italian fisherman,M,...,NaN,"San Francisco Bulletin, 11/1/1872",1872.00.00-Italian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1872.00.00,1872.00.00,402.0,NaN,NaN

In [208]:
sharks_q1.drop(sharks_q1[sharks['Country'] == 'PERSIAN GULF'].index, inplace=True)
sharks_q1.drop(sharks_q1[sharks['Country'] == 'RED SEA / INDIAN OCEAN'].index, inplace=True)
sharks_q1.drop(sharks_q1[sharks['Country'] == 'THE BALKANS'].index, inplace=True)

In [330]:
indian_ocean = sharks_q1[sharks_q1["Country"] == "INDIAN OCEAN"]
indian_ocean

sharks_q1.loc[sharks_q1['Location'] == 'Between Straits of Malacca and Sri Lanka', 'Country'] = 'SRI LANKA'
sharks_q1.loc[sharks_q1['Location'] == 'Bound from Cape Town for St. Helena', 'Country'] = 'SOUTH AFRICA'
sharks_q1.loc[sharks_q1['Location'] == 'Between Straits of Malacca and Sri Lanka', 'Country'] = 'SRI LANKA'
sharks_q1.loc[sharks_q1['Area'] == 'West of Ceylon (Sri Lanka)', 'Country'] = 'SRI LANKA'
sharks_q1.loc[sharks_q1['Area'] == 'Between Noumea & Sydney', 'Country'] = 'AUSTRALIA'
sharks_q1.loc[sharks_q1['Area'] == 'Between Perth & Colombo', 'Country'] = 'AUSTRALIA'

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'INDIAN OCEAN'].index, inplace=True)
indian_ocean

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [331]:
central_pacific = sharks_q1[sharks_q1["Country"] == "CENTRAL PACIFIC"]
central_pacific

sharks_q1.loc[sharks_q1['Location'] == '68 miles east of Wallis Island', 'Country'] = 'WALLIS'
central_pacific

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [336]:
sw_pac_ocean = sharks_q1[sharks_q1["Country"] == "SOUTHWEST PACIFIC OCEAN"]
sw_pac_ocean

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'SOUTHWEST PACIFIC OCEAN'].index, inplace=True)
sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'BAY OF BENGAL'].index, inplace=True) #no country

sw_pac_ocean

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [338]:
africa_what_country = sharks_q1[sharks_q1["Country"] == "AFRICA"]
africa_what_country

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'AFRICA'].index, inplace=True) #NOTHING FOUND ON THE PDF!!!! (no PDF found actually)

africa_what_country

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [340]:
medit_sea = sharks_q1[sharks_q1["Country"] == "MEDITERRANEAN SEA"]
medit_sea

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'MEDITERRANEAN SEA'].index, inplace=True)
sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'BETWEEN PORTUGAL & INDIA'].index, inplace=True) #PDF doesnt give away the info, too bstract


medit_sea

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [342]:
red_sea = sharks_q1[sharks_q1["Country"] == "RED SEA?"]
red_sea

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'RED SEA?'].index, inplace=True)


red_sea

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [344]:
is_it_asia = sharks_q1[sharks_q1["Country"] == "ASIA?"]
is_it_asia

sharks_q1.drop(sharks_q1[sharks_q1['Country'] == 'ASIA?'].index, inplace=True)


is_it_asia

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [345]:
#rechecking now:

sharks_q1["Country"].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'SAINT HELENA', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA',
       'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES',
       'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE', 'FIJI',
       'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE',
       'PUERTO RICO', 'ITALY', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'BRITISH INDIAN OCEAN TERRITORY', 'TAIWAN', 'JAMAICA', 'PALESTINE',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'PORTUGAL', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA',
       'SAINT KITTS AND NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY',
       'SENEGAL', 'YEMEN', 'SIERRA LEONE', 'GRAND CAYMAN', 'LIBERIA',
       'VANUATU', 'HONDURAS', 'VENEZUELA', 'SRI LANKA', 'URUGUAY',
       'INDIA', 'MICRONESIA', 'TANZANIA', 'MARSHALL ISLANDS',
       'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA',
       'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA',
       'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ',
       'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'NEW GUINEA',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'NORTH SEA',
       'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'ARGENTINA', 'MARTINIQUE',
       'WAKE ISLAND', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'JAVA', ' PHILIPPINES', 'NICARAGUA',
       'WALLIS', 'SOLOMON ISLANDS / VANUATU', 'ASCENSION ISLAND',
       'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO', 'ICELAND', 'BARBADOS',
       'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT',
       'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA',
       'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'GUINEA',
       'ANDAMAN ISLANDS', 'EQUATORIAL GUINEA', 'COOK ISLANDS', 'TOBAGO',
       'PERU', 'ALGERIA', 'SAINT THOMAS', 'GHANA', 'GREENLAND', 'SWEDEN',
       'ROATAN', 'DJIBOUTI', 'BAHREIN', 'KOREA'], dtype=object)

In [346]:
#what values are there missing in the countries? Using nan:
missing_values_countries = sharks_q1["Country"].isna().sum()
missing_values_countries

19471

In [235]:
#note, the previous code returned 19471 NaN which make no sense. 
#Apparently the dataset ends in row 6303 and after that it's just a bunch of zeros and empty rows
#I'm removing these!

In [347]:
whats_going_on_with_these_rows = sharks_q1.iloc[6240:6250]

whats_going_on_with_these_rows

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6288,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
6289,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN
6290,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN
6292,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN
6293,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0,NaN,NaN
6294,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0,NaN,NaN
6295,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN

In [348]:
#purpose of the above code was for me to check the change of data in row 6303 onwards.
#but because I've been deleting data, the index is all messed up. (jumped some values)
#so I'm resetting it:
sharks_q1 = sharks_q1.reset_index(drop=True)

In [349]:
sharks_q1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25673,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [350]:
whats_going_on_with_these_rows = sharks_q1.iloc[6240:6250]
whats_going_on_with_these_rows

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6240,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
6241,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN
6242,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN
6243,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN
6244,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0,NaN,NaN
6245,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0,NaN,NaN
6246,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN
6247,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
6248,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6249,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN

In [351]:
#I will now delete all the rows that have no data (after index 6243), but 
#before messing up, making a copy just to be sure:

sharks_lets_delete_rows = sharks_q1.copy()
sharks_lets_delete_rows

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25673,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [352]:
sharks_lets_delete_rows.drop(sharks_lets_delete_rows.index[6244:], inplace=True)
sharks_lets_delete_rows

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6239,ND.0015,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,...,NaN,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0015,ND.0015,16.0,NaN,NaN
6240,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
6241,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN
6242,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN
6243,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN

In [353]:
#ok, worked fine

In [354]:
sharks_q1.drop(sharks_q1.index[6244:], inplace=True)
sharks_q1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6239,ND.0015,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,...,NaN,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0015,ND.0015,16.0,NaN,NaN
6240,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
6241,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN
6242,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN
6243,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN

In [356]:
sharks_q1["Country"].isna().sum()
#still have 50 na values

50

In [357]:
sharks_q1[sharks_q1["Country"].isna()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,...,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,NaN,NaN
524,2014.08.00,Aug-2014,2014.0,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,...,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,NaN,NaN
2950,1983.00.00.d,Ca. 1983,1983.0,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,...,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,NaN,NaN
3371,1970.11.00,Nov-1970,1970.0,Unprovoked,NaN,NaN,NaN,NaN,Heinz Plotsky,M,...,NaN,"H.D. Baldridge (1994), SAF Case #1645",1970.11.00-NV-Plotsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.11.00,1970.11.00,2925.0,NaN,NaN
3380,1970.08.02,02-Aug-1970,1970.0,Invalid,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,...,Shark involvement prior to death was not confi...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2916.0,NaN,NaN
3381,1970.07.05,5-Jul-1970,1970.0,Unprovoked,NaN,NaN,NaN,NaN,male,M,...,Mako shark,"H.D. Baldridge (1994), SAF Case #1628",1970.07.05-NV-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.07.05,1970.07.05,2915.0,NaN,NaN
3388,1970.04.00.b,Apr-1970,1970.0,Provoked,NaN,NaN,NaN,Freediving,Lionel Jarvis,M,...,Wobbegong shark,"H.D. Baldridge (1994), SAF Case #1616",1970.04.00.b-NV-Jarvis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.04.00.b,1970.04.00.b,2908.0,NaN,NaN
3392,1970.02.05,5-Feb-1970,1970.0,Unprovoked,NaN,NaN,NaN,Wading,Sally Anne Irvine,F,...,Carpet shark,H.D. Baldridge (1994) SAF Case #1626,1970.02.05-NV-Irvine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.02.05,1970.02.05,2904.0,NaN,NaN
3418,1969.08.00,Aug-1969,1969.0,Unprovoked,NaN,NaN,NaN,NaN,Rodney Hughes,M,...,NaN,H.D. Baldridge (1994) SAF Case #1602,1969.08.00-NV-Hughes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.08.00,1969.08.00,2878.0,NaN,NaN
3597,1965.10.21,21-Oct-1965,1965.0,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,...,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2698.0,NaN,NaN
3652,1964.09.27,27-Sep-1964,1964.0,Invalid,NaN,NaN,NaN,Spearfishing,Giancarlo Griffon,M,...,Shark involvement prior to death was not confi...,C. Moore. GSAF,1964.09.27-Griffon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.09.27,1964.09.27,2642.0,NaN,NaN
4006,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,...,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0,NaN,NaN
4216,1956.09.13,13-Sep-1956,1956.0,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,...,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2072.0,NaN,NaN
4251,1956.00.00.g,1956,1956.0,Sea Disaster,NaN,Between Comores & Madagascar,Geyser Bank,Shipwreck,"Captain Eric Hunt, the cook & a French passenger",M,...,NaN,dinofish.com,1956.00.00.g-Capt-Hunt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.00.00.g,1956.00.00.g,2037.0,NaN,NaN
4483,1949.12.00.b,Dec-1949,1949.0,Sea Disaster,NaN,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate","Albert Battles, James Dean & 4 crew",M,...,Shark involvement not confirmed,"Canberra Times, 1/6/1950",1949.12.00.b-Wingate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.12.00.b,1949.12.00.b,1805.0,NaN,NaN
4623,1944.10.24,24-Oct-1944,1944.0,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,...,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0,NaN,NaN
4678,1942.11.00.a,Nov-1942,1942.0,Sea Disaster,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,...,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0,NaN,NaN
4686,1942.06.00,Jun-1942,1942.0,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,...,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1591.0,NaN,NaN
4699,1942.00.00.e,1942,1942.0,Sea Disaster,NaN,NaN,NaN,Jumped overboard from torpedoed Panamanian fre...,male,M,...,NaN,"V.M. Coppleson (1962), p.258",1942.00.00.e-seaman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.e,1942.00.00.e,1577.0,NaN,NaN
4701,1942.00.00.b,1942,1942.0,Boating,NaN,NaN,NaN,"Days before the surrender of Singapore, the 3 ...","Bombardier J. Hall, Private Green of the Sherw...",M,...,NaN,"V.M. Coppleson (1962), p.206",1942.00.00.b-Hall-Green-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.b,1942.00.00.b,1574.0,NaN,NaN
4880,1935.04.12.R,Reported 12-Apr-1935,1935.0,Unprovoked,NaN,NaN,NaN,Diving,Pearl Purdy Scott,F,...,NaN,"Port Arthur News, 4/12/1935",1935.04.12.R-PearlPurdyScott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.04.12.R,1935.04.12.R,1392.0,NaN,NaN
4989,1931.04.27.R,Reported 27-Apr-1931,1931.0,Unprovoked,NaN,French Southern Territories,Île Saint-Paul,"Fishing, boat capsized",Quillezic,M,...,NaN,"Los Angeles Times, 4/27/1931",1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1283.0,NaN,NaN
5029,1929.12.09.R,Reported 09-Dec-1929,1929.0,Unprovoked,NaN,NaN,NaN,NaN,Thomas Duggan,M,...,NaN,"The Age, 12/9/1929",1929.12.09.R-Duggan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.12.09.R,1929.12.09.R,1243.0,NaN,NaN
5393,1909.01.17,17-Jan-1909,1909.0,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,...,Questionable,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,878.0,NaN,NaN
5554,1898.09.19.b.R,Reported 19-Sep-1898,1898.0,Unprovoked,NaN,NaN,NaN,Diving,Halletts,M,...,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.b.R-Halletts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.b.R,1898.09.19.b.R,717.0,NaN,NaN
5555,1898.09.19.a.R,Reported 19-Sep-1898,1898.0,Unprovoked,NaN,NaN,NaN,Diving,male,M,...,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.a.R.Sully.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.a.R,1898.09.19.a.R,716.0,NaN,NaN
5580,1897.03.15.b.R,Reported 15-Mar-1897,1897.0,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,...,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0,NaN,NaN
5604,1895.06.13.R,Reported 13-Jun-1895,1895.0,Unprovoked,NaN,NaN,NaN,Diving,Marsh,M,...,NaN,"Lima Times, 6/13/1895",1895.06.13.R-EnglishDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1895.06.13.R,1895.06.13.R,667.0,NaN,NaN
5707,1887.07.30,30-Jul-1887,1887.0,Sea Disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,...,NaN,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,561.0,NaN,NaN
5734,1885.04.16.R,Reported 16-Apr-1885,1885.0,Unprovoked,NaN,NaN,NaN,Swimming,2 males,M,...,NaN,"Gleaner (Jamaica), 4/16/1885",1885.04.16.R-GermanShip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1885.04.16.R,1885.04.16.R,533.0,NaN,NaN
5770,1881.08.16.R,Reported 16-Aug-1881,1881.0,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,...,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,495.0,NaN,NaN
5772,1881.06.25,25-Jul-1881,1881.0,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,...,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,493.0,NaN,NaN
5801,1878.10.13,13-Oct-1878,1878.0,Unprovoked,NaN,NaN,NaN,Jumped overboard after murdering 2 shipmates,Sherrington,M,...,NaN,The Maitland Mercury & Hunter River General Ad...,1878.10.13-Sherrington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.10.13,1878.10.13,464.0,NaN,NaN
5846,1874.06.15.a.R,Reported 15-Jun-1874,1874.0,Unprovoked,NaN,NaN,NaN,Salvaging a shipwreck,male,M,...,NaN,"Daily Southern Cross, 6/15/1874",1874.06.15.a.R-Achilles-tendon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.a.R,1874.06.15.a.R,418.0,NaN,NaN
5881,1869.04.10,10-Apr-1869,1869.0,Invalid,NaN,NaN,NaN,Fell overboard,Christian Frederick,M,...,Shark involvement prior to death unconfirmed,"Nelson Examiner & New Zealand Chronicle, 4/24/...",1869.04.10-Frederick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1869.04.10,1869.04.10,383.0,NaN,NaN
5957,1856.11.20.R,Reported 20-Nov-1856,1856.0,Unprovoked,NaN,NaN,NaN,Swimming,Cornelius Conhlren,M,...,NaN,"Pacific Commercial Advertiser, 11/20/1856",1856.11.20.R-Conhlren.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1856.11.20.R,1856.11.20.R,307.0,NaN,NaN
5962,1855.07.28,28-Jul-1855,1855.0,Unprovoked,NaN,NaN,NaN,Bathing,"a young boy, one of the crew of the Post Boy",M,...,NaN,"Maitland Mercury, 8/25/1855",1855.07.28-PostBoy-sailors.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1855.07.28,1855.07.28,302.0,NaN,NaN
6050,1830.04.22.R,Reported 22-Apr-1830,1830.0,Unprovoked,NaN,NaN,NaN,NaN,Jose,M,...,NaN,"The Torchlight & Public Advertiser, 4/22/1830",1830.04.22.R-Jose.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1830.04.22.R,1830.04.22.R,211.0,NaN,NaN
6076,1811.03.01,01-Mar-1811,1811.0,Unprovoked,NaN,NaN,NaN,Fell overboard,John Walker,M,...,NaN,Journal of Captain Marryat,1811.03.01-John-Walker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1811.03.01,1811.03.01,184.0,NaN,NaN
6088,1801.12.18.R,Reported 18-Dec-1801,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN
6090,1797.05.28.R,Reported May-28-1797,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN
6094,1787.07.05,05-Jul-1787,1787.0,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,...,NaN,"H.R. Janisch (1885), Extracts from the St. Hel...",1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,166.0,NaN,NaN
6111,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,...,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0,NaN,NaN
6121,1638.00.00.R,Reported 1638,1638.0,Unprovoked,NaN,NaN,NaN,NaN,sailors,M,...,NaN,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,138.0,NaN,NaN
6126,1555.00.00,1555,1555.0,Unprovoked,NaN,NaN,NaN,Swimming,male,M,...,NaN,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,132.0,NaN,NaN
6130,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,...,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,NaN,NaN
6132,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,...,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,NaN,NaN
6154,ND-0124,Before 2011,0.0,Provoked,NaN,NaN,NaN,NaN,Phillip Peters,M,...,NaN,"Watertown Daily Times, 7/8/2011",ND-0124-Peters.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0124,ND-0124,104.0,NaN,NaN
6161,ND-0114,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,...,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,NaN,NaN
6212,ND.0044,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,...,1.2 m [4'] shark,"G.A. Llano in Airmen Against the Sea, p.69",ND-0044-C.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0044,ND.0044,44.0,NaN,NaN

In [248]:
#replacing some of these:

In [358]:
sharks_q1.loc[sharks_q1['Location'] == 'Between St. Kitts & Nevis', 'Country'] = 'SAINT KITTS AND NEVIS'
sharks_q1.loc[sharks_q1['Location'] == 'Florida Strait', 'Country'] = 'USA'
sharks_q1.loc[sharks_q1['Area'] == 'Between Timor & Darwin, Australia', 'Country'] = 'TIMOR'
sharks_q1.loc[sharks_q1['Area'] == 'Near the Andaman & Nicobar Islands', 'Country'] = 'ANDAMAN AND NICOBAR ISLANDS'
sharks_q1.loc[sharks_q1['Area'] == 'Between Comores & Madagascar', 'Country'] = 'MADAGASCAR'
sharks_q1.loc[sharks_q1['Area'] == 'Gulf of California', 'Country'] = 'USA'

In [359]:
#I'll drop the reamining misisng values
sharks_q1.dropna(subset=['Country'], inplace=True)

In [360]:
sharks_q1["Country"].isna().sum()

0

In [361]:
sharks_q1[sharks_q1["Country"].isna()]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [362]:
sharks_q1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6239,ND.0015,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,...,NaN,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0015,ND.0015,16.0,NaN,NaN
6240,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
6241,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN
6242,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN
6243,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN

## Cleaning "Age"

In [367]:
#before anything, I'm creating a copy of the filtered countries df!

#sharks_countries_cleaned = sharks_q1.copy() and now that it's copied, I'm freezing this line of code not to overwite it!
sharks_countries_cleaned

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6239,ND.0015,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,...,NaN,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0015,ND.0015,16.0,NaN,NaN
6240,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
6241,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN
6242,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN
6243,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN

In [365]:
#checking the nas first:
sharks_q1["Age"].isna().sum()
#that's a lot!

2749

In [375]:
sharks_q1[sharks_q1['Age'].isna()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,NaN,"Minor injury, marks on board",N,11h00,NaN,"B.Jacob, Dispatch Live, 5/12/2018",2018.05.12-EastLondon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.12,2018.05.12,6288.0,NaN,NaN
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6239,ND.0015,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN,NaN,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0015,ND.0015,16.0,NaN,NaN
6240,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,"""Lost leg""",N,NaN,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
6241,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN
6242,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN
6243,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,Ankle bitten,N,NaN,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN

In [376]:
#but I can't seem to work this around with data from other columns so I might drop these rows:
sharks_q1.dropna(subset=['Age'], inplace=True)
sharks_q1["Age"].isna().sum()

0

In [381]:
#Ok, now lets make sure the numbers in the column Age actually make sense
#using a try and except to do this:


def converting_the_ages_to_integer(age):
    try:
        return int(age) 
    except:
        return age

sharks_q1['Age'] = sharks_q1['Age'].apply(converting_the_ages_to_integer)

In [391]:
#I now wanna get the values that are not integers: 
#found out that I can use lambda x: isinstance(x, int) to get the values that are indeed integers
#but using "~" in the beginning to contradict and get the opposite. I want them in a list to decide what to do:
ages_that_are_not_ints = sharks_q1.loc[~sharks_q1['Age'].apply(lambda x: isinstance(x, int)), 'Age'].tolist()
ages_that_are_not_ints

[]

In [388]:
#other that "both 11" the rest makes no sense to me to be used in my analysis. I'll drop them
sharks_q1.loc[sharks_q1['Age'] == 'Both 11', 'Age'] = int(11)
sharks_q1 = sharks_q1[sharks_q1['Age'].apply(lambda x: isinstance(x, int))] #here saying that sharks_q1 is only the sharks_q1 where the instance is actually and Integer

In [396]:
#I now wanna make sure that I've only got reasonable numbers, like no one is Dracula old 
#neither do I have negative age people
#I'll give it a chance people are between 0 and 100yo (stay home if you're that old and putting urself out there like a champ)

condition_age_is_reasonable = (sharks_q1['Age'] >= 0) & (sharks_q1['Age'] <= 100)
valid_age_rows = sharks_q1[condition_age_is_reasonable]
print(valid_age_rows.shape)
print(sharks_q1.shape)

(3353, 24)
(3353, 24)

In [397]:
#the shapes coincide! that means that Age column respects the condition I set (0-100 yrs). Nice

In [399]:
#before anything, I'm storing this as another new dataframe, ready to be used for Q1:

#countries_and_age_cleaned = sharks_q1.copy() and freezing this code so I don't overwrite countries_and_age_cleaned
countries_and_age_cleaned

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6194,ND.0065,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Fishing from a small boat & put his hand in th...,male,M,25,Right hand severed,N,Afternoon,NaN,B.W. Coad & L.A.J. Al-Hassan,ND-0065-deadfish.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0065,ND.0065,62.0,NaN,NaN
6195,ND.0064,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,6,Arm severed,N,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0064-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0064,ND.0064,61.0,NaN,NaN
6196,ND.0063,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,16,Right leg lacerated & surgically amputated,N,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0063,ND.0063,60.0,NaN,NaN
6207,ND.0051,Before 1957,0.0,Provoked,CUBA,Havana Province,Cojimar,"Shark fishing, knocked overboard",Sandrillio,M,50,"FATAL, hip bitten PROVOKED INCIDENT",Y,NaN,NaN,"F. Poli, pp.75, 81-83",ND-0051-Sandrillio.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0051,ND.0051,49.0,NaN,NaN
6228,ND.0026,Early 1930s,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,16,FATAL,Y,NaN,12' tiger shark,Mitchell-Hedges,ND-0026-Belize.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0026,ND.0026,27.0,NaN,NaN